@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: Quicksand, sans-serif;
}

.board-wrapper {
    margin: 5rem auto;
    height: 21rem;
    width: 21rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.space {
    font-size: 3rem;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
}

.space:hover {
    cursor: pointer;
    background-color: rgb(240,240,240);
}

[id="3"], [id="4"], [id="5"] {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

[id="1"], [id="4"], [id="7"] {
    border-left: 1px solid black;
    border-right: 1px solid black;
}